
__pycache__/
*.py[cod]
*$py.class


.ipynb_checkpoints/


.vscode/


uploads/


venv/
env/
.venv/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


*.log


.env


.pytest_cache/


.mypy_cache/


.ruff_cache/

datasets/